/*================ About Me ================*/
.about-me__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 10vw;
  @media screen and (min-width: $bpTablet) {
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  @media screen and (min-width: $bpDesktop) {
    padding: 2rem 10vw;
  }
}
.about-me__img--div {
  display: none;
  @media screen and (min-width: $bpTablet) {
    width: 30vw;
    height: 27rem;
    position: relative;
    display: block;
  }
  @media screen and (min-width: $bpDesktopHD) {
    height: 30vw;
    width: 30vw;
  }
}
.about-me__img {
  border-radius: 8rem;
  width: 30vw;
  max-width: 25rem;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  @media screen and (min-width: $bpDesktopHD) {
    width: 30vw;
    max-width: 35rem;
  }
}

.about-me {
  width: 80vw;
  height: 100%;
  @media screen and (min-width: $bpTablet) {
    width: 50vw;
  }
  @media screen and (min-width: $bpDesktopHD) {
    width: 40vw;
  }
}

.about-me__h2 {
  text-align: center;
  font-size: 3rem;
  @media screen and (min-width: $bpDesktopHD) {
    font-size: 4rem;
  }
}

.about-me__p {
  font-size: 2rem;
  padding-bottom: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  @media screen and (min-width: $bpDesktopHD) {
    font-size: 2.5rem;
  }
}

.about-me_resume {
  a {
    color: $primaryLight;
  }
}

.about-me__h3 {
  text-align: center;
  font-size: 3rem;
}
