
.header {
	position: relative;
	.blur-image {
		position: relative;
		height: 50vh;
		opacity: 0.7;
	}
	.title {
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.7);
		border-radius: 1rem;
		border: 5px white solid;
		padding: 3rem;
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media screen and (min-width: $bpTablet) {
			height: auto;
			width: auto;
			padding: 6rem;
		}
		@media screen and (min-width: $bpDesktop) {
			min-width: 50rem;
		}
		h1 {
			color: #fff;
			font-size: 2.5rem;
			text-align: center;
			@media screen and (min-width: $bpTablet) {
				font-size: 3rem;
			}
		}
	}
}

.single {
	@include minHeight();
	width: 80%;
	margin: 10% auto 0 auto;
	color: #fff;
	position: relative;
	.content {
		width: 100%;
		margin: 10% auto;
		font-size: 1.8rem;
		h3 {
			text-align: center;
		}
		ul {
			text-align: center;
			list-style-type: none;
		}
		img {
			height: auto;
			width: 100%;
			margin: 20px auto;
			display: block;
			max-width: 50rem;
		}
		.img-small-vertical {
			max-width: 20rem;
		}
		& > * {
			margin-bottom: 10px;
		}
		@media screen and (min-width: $bpTablet) {
			width: 60%;
		}
		@include blogAnchors();
		h6 {
			font-size: 1.8rem;
			text-align: center;
		}
	}

	.anchor {
		@include blogAnchors();
		width: 100%;
		margin: 0 auto 2rem auto;
		font-size: 1.8rem;
		@media screen and (min-width: $bpTablet) {
			width: 60%;
		}
		@media screen and (min-width: $bpDesktop) {
			margin: 0 auto 4rem auto;
		}
		@media screen and (min-width: $bpDesktopHD) {
			margin: 0 auto 5rem auto;
		}
	}
	
}