/*================ Colors ================*/
.color-primary {
  color: $primaryColor;
}

.bg-color-primary {
  background-color: $primaryColor;
}

.color-primary-light {
  color: $primaryLight;
}

.bg-color-primary-light {
  background-color: $primaryLight;
}

.color-primary-lightest {
  color: $primaryLightest;
}

.bg-color-primary-lightest {
  color: $primaryLightest;
}

.color-secondary {
  color: $primarySecond;
}

.bg-color-secondary {
  background-color: $primarySecond;
}