
// Navbar mixin
@mixin nav-block-default {
  position: fixed;
  width: 55%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 5;
}

@mixin minHeight() {
	min-height: calc( 100vh - 385px );
  @media screen and (min-width: $bpTablet) {
    min-height: calc( 100vh - 243px );
  }
  @media screen and (min-width: $bpDesktop) {
    min-height: calc( 100vh - 318px );
  }
  @media screen and (min-width: $bpDesktopHD) {
    min-height: calc( 100vh - 463px );
  }
}

@mixin blogAnchors() {
  a {
    text-decoration: none;
    color: $primarySecond;
  }
  a:visited {
    color: $primarySecond;
  }
  a:hover {
    color: #fff;
  }
}

@mixin ModalContent(){
  .Content {
    width: 95vw;
    height: 80vh;
    background-color: #eaeaea;
    border-radius: 25px;
    padding: 5rem;
    position: relative;
    display: flex;
    @media screen and (min-width: $bpTablet) {
      width: 60vw;
    }
    > div {
      width: 100%;
    }
    .Gallery {
      display: flex;
      height: 100%;
      flex-direction: column;
      i {
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        right: 3rem;
        top: 2rem;
      }
      p {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1rem;
      }
      > div {
        overflow-y: scroll;
        height: 100%;
        &::-webkit-scrollbar { 
          display: none;
        }
      }
    }
  }
}