/*================ Break Points ================*/
$bpMobile: 320px;
$bpMobileLarge: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpDesktopHD: 1420px;

/*================ Colors ================*/
$primaryColor: #2B2B2B;
$primaryColorLight: #737373;
$primaryLight: #EBEEEE;
$primaryLightest: #fff;
$primarySecond: #11ABB0;

$boxShadow: 0 1px 5px rgba(0,0,0,0.65);